<%= form_for ( order ) do |f| %>
    <div class="field">
    </div>
    <div class="field">
    <%= f.label :customer_id %>
    <%= f.collection_select :customer_id, Customer.all, :id, :full_name, include_blank: true %>
  </div>
    <div class="field">
      <%= f.label :product_name %>
      <%= f.text_field :product_name %>
    </div>
  
    <div class="field">
      <%= f.label :product_ount %>
      <%= f.text_field :product_count %>
   </div>
    <div class="actions">
      <%= f.submit %>
    </div>
    
 <% end %>